<a href="https://colab.research.google.com/github/rozaneekantadas/Machine-Learning-Practice/blob/main/Machine_Learning_Linear_Regression_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [ ]:
import pandas as pd
path = '/content/gdrive/My Drive/Colab Notebooks/iris.csv'
df = pd.read_csv(path)
df.head(10)

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa
5           5.4          3.9           1.7          0.4  setosa
6           4.6          3.4           1.4          0.3  setosa
7           5.0          3.4           1.5          0.2  setosa
8           4.4          2.9           1.4          0.2  setosa
9           4.9          3.1           1.5          0.1  setosa

In [ ]:
df.isnull().sum()

sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
species         0
dtype: int64

In [ ]:
y = df['species']
x = df.drop('species', axis='columns')
y

0         setosa
1         setosa
2         setosa
3         setosa
4         setosa
         ...
145    virginica
146    virginica
147    virginica
148    virginica
149    virginica
Name: species, Length: 150, dtype: object

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.linear_model import LinearRegression

In [ ]:
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size = 0.2)

In [ ]:
x_train

     sepal_length  sepal_width  petal_length  petal_width
6             4.6          3.4           1.4          0.3
52            6.9          3.1           4.9          1.5
62            6.0          2.2           4.0          1.0
112           6.8          3.0           5.5          2.1
83            6.0          2.7           5.1          1.6
..            ...          ...           ...          ...
98            5.1          2.5           3.0          1.1
48            5.3          3.7           1.5          0.2
35            5.0          3.2           1.2          0.2
132           6.4          2.8           5.6          2.2
97            6.2          2.9           4.3          1.3

[120 rows x 4 columns]

In [ ]:
y_train

6          setosa
52     versicolor
62     versicolor
112     virginica
83     versicolor
          ...
98     versicolor
48         setosa
35         setosa
132     virginica
97     versicolor
Name: species, Length: 120, dtype: object

In [ ]:
l = LabelEncoder()
y_train = l.fit_transform(y_train)

In [ ]:
clf = LinearRegression()
clf.fit(x_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [ ]:
clf.score(x_train, y_train)

0.9330827594729522

In [ ]:
y_test = l.fit_transform(y_test)
clf.score(x_test, y_test)

0.9171581894457951

In [ ]:
clf.predict([[6.0,	2.7,	5.1,	1.6]])

array([1.53991651])